.field {
	clear:both;
    text-align:right;
    line-height:25px;
}
label {
    float:left;
    padding-right:10px;
}
.main {
    float:left;
    padding-top: 20px;
}

body{
    font-family:  "Comic Sans MS", cursive;
    width: 400px;
    border: thin solid black;
    margin: 20px;
    padding-left: 20px;
    padding-top: 30px;
    position: fixed;
    height: 530px;

}
